<div class="comment"> 
  <a href="/profile/<%= user.uid %>">
    <img 
      class="comment-avatar" 
      src="<%= user.avatar %>" 
      alt="<%= user.name %>"
    />
  </a>

  <div class="comment-body">
    <div class="comment-header">
      <a href="/profile/<%= user.uid %>" class="comment-username">
        <%= user.name %>
      </a>
    </div>

    <div class="comment-text"><%= comment.text %></div>
    <div class="comment-time"><%= comment.createdAt || "" %></div>
  </div>
</div>