<div class="comment"> 
  <img 
    class="comment-avatar" 
    src="<%= user.avatar %>" 
    alt="<%= user.name %>"
  />

  <div class="comment-body">
    <div class="comment-header">
      <span class="comment-username"><%= user.name %></span>
      
    </div>

    <div class="comment-text"><%= comment.text %></div>
    <div class="comment-time"><%= comment.createdAt || "" %></div>
  </div>
</div>